.cake-card {
  width: 250px; /* Adjust based on your layout */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
  transition: transform 0.2s ease;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.cake-card:hover {
  transform: scale(1.05);
}

.cake-image {
  width: 100%;
  height: 200px;
  object-fit: fill;
  max-width: 100%; /* Max width is 100% of the container */
  max-height: 100%; /* Max height is 100% of the container */
  /* object-fit: contain; */
}

.cake-info {
  padding: 15px;
}

.cake-name {
  margin-top: 0;
  color: #333;
}

.cake-description {
  color: #666;
  font-size: 14px;
}

.order-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background-color: #44b514; /* Pink color, adjust as needed */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.order-button:hover {
  background-color: #c455a8; /* Darker shade for hover effect */
}

.all_cakes {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.collection_all {
  text-align: center;
  /* font-family: 'Courier New', Courier, monospace; */
  font-size: 1.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 0px -1px;
  height: 50px;
  /* border-top: 3px dotted #000; */
}
